In [1]:
import pandas as pd
import numpy as np

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-02 06:54:15--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  1.04MB/s    in 0.8s

2025-10-02 06:54:16 (1.04 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [35]:
pd.__version__

'2.3.2'

In [4]:
data = pd.read_csv('car_fuel_efficiency.csv')

In [5]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

How many records are in the dataset?

In [14]:
data.shape[0]

9704

How many records are in the dataset?

In [ ]:
data['fuel_type'].unique()
data['fuel_type'].unique().size

2

How many columns in the dataset have missing values?

In [23]:
data.isna().sum()[data.isna().sum() > 0].size

4

What's the maximum fuel efficiency of cars from Asia?

In [29]:
data['fuel_efficiency_mpg'][data['origin'] == 'Asia'].max()

np.float64(23.759122836520497)


1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

- Has it changed?

- A. Yes, it increased
- B. Yes, it decreased
- C. No

In [30]:
md_horsepower = data['horsepower'].median()
most_frequent_horsepower = data['horsepower'].mode()[0]
data['horsepower'] = data['horsepower'].fillna(most_frequent_horsepower)
md_horsepower_filled = data['horsepower'].median()
print("comparison:")
print("Before filling: ", md_horsepower)
print("After filling: ", md_horsepower_filled)

comparison:
Before filling:  149.0
After filling:  152.0

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

- What's the sum of all the elements of the result?
- 0.051
- 0.51
- 5.1
- 51

In [34]:
data_asia = data[data['origin'] == 'Asia']
X = data_asia[['vehicle_weight', 'model_year']].head(7).to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv @ X.T @ y
w.sum()

np.float64(0.5187709081074006)